<nav class=" navbar bg-dark" style="background: rgb(246,24,204);
background: linear-gradient(109deg, rgba(246,24,204,1) 19%, rgba(59,156,172,1) 88%);">
    <div class="container container-fluid">
      <a routerLink="" class="navbar-brand text-light fw-bolder">Contact</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>








  