<div class="container mt-5 " style="height: 80vh;margin-top: 100px;">
    <a routerLink="" class="btn btn-primary border-none fw-bolder " style="background: rgb(73,170,238); padding: 8px 40px;
    background: linear-gradient(109deg, rgba(73,170,238,1) 0%, rgba(59,156,172,1) 67%);">Back</a>
    
     
    
    <div class="m-auto "
        style=" width: 400px; height: 450px; padding: 20px; border-radius: 10px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

        <div class='text-center mt-5'>

            <img [src]="view.photo" alt="no image" style="width: 70px; height: 70px; border-radius: 50%;">
        </div>


        <div class="text-center p-3 m-auto">

            <h3 class="mb-3"><span class="view-text me-2">Name:</span>{{view.name}}</h3>
            <h5 class="mb-3"><span class="view-text me-2">Email:</span>{{view.email}} </h5>
            <h5 class="mb-3"><span class="view-text me-2">Mobile:</span> {{view.mobile}}</h5>
            <h5 class="mb-3"><span class="view-text me-2">Company:</span>{{view.company}} </h5>
            <h5><span class="view-text me-2">Title:</span>{{view.title}}</h5>


        </div>
    </div>






</div>